.press-box {
  height: 10px;
  width: 10px;
  border: 1px solid black;
}

.pressed {
  background-color: chartreuse;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  flex-flow: column-reverse;
}

.middle, .bottom, .bumpers, .triggers {
  display: flex;
  justify-content: space-around;
}

ol {
  border: 1px solid black;
}